.nav {
    width: 20%;
    border-right: 2px solid #00969e;
    position: fixed;
    top: 18%
}

.h2 {
    color: #006b70;
    background: #00969e17;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.point {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.point:hover{
    background: #21d5dfc5;
}