.pageContent{
    display: flex;
}

.mainPart {
    width: 78%;
    padding-top: 40px;
}

.w20{
    width: 22%;
}

.bigInput {
    width: 70%;
    height: 35px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.smallInput {
    width: 25%;
    height: 35px;
    padding-left: 20px;
    margin-right: 20px;
}

.h3 {
    margin: 30px 0 10px 0;
}