.btn {
    color: white;
    font-size: medium;
    background: #ff4d37;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    min-height: 36px;
    margin-left: auto;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background: #df010886;
    color: rgba(255, 255, 255, 0.6);
}