.pageContent{
    display: flex;
}

.mainPart {
    width: 30%;
    padding-top: 40px;
}

.w20{
    width: 22%;
}

.pictures {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    margin-bottom: 40px;
}

.input {
    font-size: 18px;
}

.small {
    width: 50%;
}

.medium {
    width: 75%;
}

.big{
    width: 80%;
}