.pageContent{
    display: flex;
}

.mainPart {
    width: 78%;
    padding-top: 40px;
}

.w20{
    width: 22%;
}

.lighter {
    font-weight: normal;
}

.point {
    background: #21d6df52;
    width: max-content;
    padding: 10px 40px;
    border-radius: 5px;
}