.page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form {
    width: 30%;
    border: 3px solid #4f76ce;
    background: #4f75ce6b;
    padding: 30px;
    border-radius: 5px;
    margin-right: 5%;
}

.h1 {
    text-align: center;
    margin: 10px 0 0 0;
}