.navbar {
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #00959e;
}

.logo{
    height: 80px;
    margin-left: 40px;
}

.text {
    color: white;
    font-size: 20px;
}

.logout{
    display: flex;
    align-items: center;
}