.pageContent{
    display: flex;
}

.mainPart {
    width: 78%;
    padding-top: 40px;
}

.w20{
    width: 22%;
}

.table_dark {
    font-size: 14px;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    background: #252F48;
}

.table_dark th {
    color: #EDB749;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
}

.table_dark td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
}

.table_dark tr {
    height: 50px;
}

.table_dark tr:last-child td {
    border-bottom: none;
}

.table_dark td:last-child {
    border-right: none;
}

.table_dark tr:hover td {
    background: #37b5a46b;
}